.footer {
  margin: 6rem auto 2rem;
  max-width: 1240px;
  background-color: var(--color-orange-50percent);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contactTitle {
  font-size: 14px;
  letter-spacing: 0;
  color: var(--color-blue);
}

.footerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.link {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: var(--color-foreground);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: underline
}

.link:active,
.link:hover {
  color: var(--color-foreground);
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 13px 20px;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.copyright {
  margin-bottom: 4rem;
  text-align: center;
}