.header {
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  margin: 0 1rem;
}

.header nav a {
  text-decoration: none;
  color: #333;
}
