.hero {
    padding: 5% 0.5rem 4rem;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.rightContainer > div {
    text-align: center;
    width: 100%;
}
.rightContainer > div > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.logoAndNames {
    display: flex;
    align-items: center;
    justify-content: start;
}

.dinos {
    width: 126px;
    height: 100%;
    position: relative;
}

.namesBadge {
    background-color: var(--color-blue);
    color: white;
    padding: 0.8rem 3.5rem;
    border-radius: 120px;
    font-size: 4.6rem;
    font-weight: 600;
    font-family: var(--font-sans), sans-serif;
    align-self: stretch;
    align-content: center;
    white-space: nowrap;
}


.contentGrid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.textColumn {
    text-align: right;
}

.mainTitle {
    font-family: var(--font-handwriting), serif;
    color: var(--color-terracotta);
    font-size: 6.8rem;
    line-height: 1.4;
    font-weight: normal;
}

.line1 { font-size: 3rem; }
.line2 { font-size: 4rem; }
.line3 { font-size: 3.5rem; }

.imageWrapper {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.heroImg {
    display: block;
    object-fit: cover;
}
.ringsIcon {
    background-color: var(--color-terracotta);
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    align-items: center;
    height: 138px;
}

.blueIcon {
    background-color: var(--color-light-blue);
    padding: 1rem;
    border-radius: 30px;
    align-items: center;
    height: 138px;
}

.orangeIcon {
    background-color: var(--color-orange);
    padding: 2rem 1rem;
    border-radius: 30px;
    align-items: center;
    height: 300px;
}

@media screen and (max-width: 400px) {
    .hero {
        flex-direction: column;
        gap: 0.8rem;
        padding-bottom: 1rem;
    }
    .bottomContainer {
        gap: 1.5rem;
    }
    .mainTitle {
        font-size: 2.5rem;
    }
    .namesBadge {
        font-size: 1.8rem;
        align-self: center;
        padding: 0.5rem 1.2rem;
    }
    .dinos {
        width: 60px;
    }
    .rightContainer{
        flex-direction: row;
        gap: 0.8rem;
    }
    .imageWrapper, .ringsIcon, .orangeIcon, .blueIcon {
        border-radius: 10px;
    }
    .imageWrapper img {
        width: 102px;
        height: 160px;
    }
    .ringsIcon, .orangeIcon, .blueIcon {
        height: 80px;
    }
    .orangeIcon {
        padding: 0.8rem;
    }
}
