.hero {
  padding-top: 120px;
  padding-bottom: 4rem;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 190px;
}

.topContainer {
  display: flex;
  justify-content: center;
  height: 138px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 462px;
  width: 1030px;
}

.logoAndNames {
  display: flex;
  align-items: center;
  width: 1030px;
  justify-content: space-between;
}

.dinos {
    width: 126px;
    height: 100%;
    position: relative;
}

.namesBadge {
  background-color: var(--color-blue);
  color: white;
  padding: 0 50px;
  border-radius: 120px;
  font-size: 4.688rem;
  font-weight: 600;
  font-family: var(--font-sans);
  align-content: center;
  height: 100%;
}


.contentGrid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.textColumn {
    text-align: right;
}

.mainTitle {
    font-family: var(--font-handwriting);
    color: var(--color-terracotta);
    font-size: 6.875rem;
    line-height: 1.4;
    font-weight: normal;
    width: 656px;
}

.line1 { font-size: 3rem; }
.line2 { font-size: 4rem; }
.line3 { font-size: 3.5rem; }

.imageWrapper {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.heroImg {
    display: block;
    object-fit: cover;
}
.ringsIcon {
    background-color: var(--color-terracotta);
    color: white;
    padding: 0.5rem;
    border-radius: 30px;
    height: 138px;
    align-items: center;
}

.blueIcon {
    background-color: var(--color-light-blue);
    padding: 1rem;
    border-radius: 30px;
    height: 138px;
    align-items: center;
}

.orangeIcon {
    background-color: var(--color-orange);
    padding: 1rem;
    border-radius: 30px;
    height: 295px;
    align-items: center;
}
