.form {
    margin: 0 auto;
    padding: 2rem 0;
}

.wrapper,
.wrapperMain {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 0 1.4rem;
}

.wrapper>* {
    grid-column: span 4;
}

.wrapper>div:last-child {
    grid-column: span 8;
}

.wrapperMain {
    border-bottom: 2px solid #E67139;
}

.wrapperMain>* {
    grid-column: span 11
}

.wrapperMain>div:first-child {
    grid-column: span 1
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1rem;
}

.field label {
    font-weight: 500;
    font-size: 1rem;
    color: var(--foreground);
}

.field input,
.field select,
.field textarea,
.field input[type=checkbox] {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-blue);
    font-size: 1rem;
    color: var(--color-blue);
    background-color: #FFFFFF;
}

.field select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="%23333" d="M0 0l5 5 5-5z"/></svg>');
    background-position: right 1.5rem top 60%;
    background-repeat: no-repeat;
    background-size: 1rem;
}

.field input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.checkboxLabel input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    accent-color: #E67139;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
}

.checkboxLabel input[type="checkbox"]:checked {
    accent-color: #FFFFFF;
    background-color: #E67139;
}

.checkboxLabel input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 200ms transform ease-in-out,
        200ms background-color ease-in-out,
        200ms box-shadow ease-in-out;
    box-shadow: inset 1em 1em #FFFFFF;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    position: relative;
    display: block;
    top: -10px;
    left: -10px;
}

.checkboxLabel input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkGroup {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.submitButton {
    padding: 0.75rem 2rem;
    background: #E67139;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.submitButton:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.success {
    padding: 1rem;
    background: rgba(0, 255, 0, 0.1);
    color: #007000;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error {
    padding: 1rem;
    background: rgba(255, 0, 0, 0.1);
    color: #cc0000;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockLine {
    border-bottom: 2px solid #E67139;
    border-top: 2px solid #E67139;
}

.labelBold {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
}

.radioBtn {
    border: 1px solid #102E4A;
    padding: 1rem;
    width: 30%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    gap: 1rem;
    display: flex;
}

.radioBtn input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    aspect-ratio: 1/1;
    border: 1px solid currentColor;
    border-radius: 3rem;
    background-color: #FFFFFF;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.radioBtn input[type="radio"]::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 3rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.2rem 1.2rem #102E4A;
}

.radioBtn input[type="radio"]:checked::before {
    transform: scale(1);
}

.radioBtn label {
    width: 100%;
}

.radioBtn:has(input[type="radio"]:checked) {
    background-color: rgba(92, 149, 255, 0.3);
}

.responseImg img {
    border-radius: 100px;
    object-fit: cover;
}

.titleOrange {
    color: #E67139;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
}

.responseBlock {
    padding: 2rem;
    display: flex;
    gap: 1.4rem;
}

.responseBlock h2 {
    width: 62%;
}

.responseBlock p,
.descriptionP {
    font-size: 1.2rem;
    width: 90%;
}

.contentForm {
    padding: 0 2rem;
}

.contentForm p {
    width: 60%;
    margin: 0;
}

.contactBlock {
    display: flex;
    gap: 1.2rem;
}

.my3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.numBtnGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.numBtnGroup h4 {
    padding: 0.8rem 1rem;
    background-color: #E67139;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    text-align: center;
    margin-top: 1.5rem;
}

.numBtnGroup button {
    padding: 0.8rem 0.5rem;
    background-color: #FFFFFF;
    color: #852121;
    border: 2px solid #852221;
    font-weight: 600;
    border-radius: 0.8rem;
    cursor: pointer;
}

.numBtnGroup button:hover {
    background-color: rgba(133, 33, 33, 0.3);
}

.addPartecipantBtn {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid #E67139;
    color: #E67139;
    font-weight: 600;
    font-size: 1.2rem;
}

.addPartecipantBtn:hover {
    background-color: rgba(230, 113, 57, 0.5);
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .radioBtn {
        width: 100%;
    }

    .wrapper>*,
    .wrapper>div:last-child {
        grid-column: span 12;
    }

    .responseBlock {
        flex-direction: column;
    }

    .checkGroup {
        display: block;
        margin-top: 1rem;
    }
}