.weddingList {
    width: 100%;
    max-width: 1240px;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title {
    font-family: var(--font-handwriting), serif;
    width: 100%;
    font-size: 3.5rem;
    color: var(--color-blue);
    margin-bottom: 1rem;
}

.content {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #555;
}

.ctaButton {
    font: var(--font-sans), sans-serif;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: var(--color-terracotta);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: var(--color-orange);
}

.centerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imageWrapper {
    position: relative;
    width: 100%;
    max-height: 300px;
    max-width: 400px;
    display: flex;
}

.mainImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.rightColumn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    margin: auto;
}

.iconWrapper {
    aspect-ratio: 6 / 5;
    border-radius: 30px;
    padding: 1.5rem;
    width: 100%;
}

.iconWrapper:nth-child(odd) {
    background-color: var(--color-terracotta);
}

.iconWrapper:nth-child(even) {
    background-color: var(--color-light-blue);
}

.iconWrapper div {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }

    .leftColumn {
        width: 50%;
        align-items: center;
    }

    .ctaButton {
        width: 50%;
    }

    .centerColumn {
        width: 35%;
    }

    .rightColumn {
        width: 15%;
    }
}

@media (max-width: 768px) {
    .title {
        text-align: center;
        padding: 1rem;
    }

    .leftColumn,
    .centerColumn,
    .rightColumn {
        padding: 1rem;
    }

    .leftColumn {
        align-items: normal;
    }

    .rightColumn {
        flex-direction: row;
        margin: 0;
    }

    .iconWrapper {
        width: 50%;
    }
}