.weddingDetails {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.weddingDetails h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
