.detailsSection {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.dateCard {
    position: relative;
    height: 765px;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    filter: blur(2px) brightness(0.8);
}

.fgImage {
    position: absolute;
    top: 105px;
    left: 105px;
    z-index: 2;
    object-fit: cover;
    border-radius: 30px;
    border: 8px solid white;
}

.ringsOverlay {
    position: absolute;
    top: 120px;
    left: 667px;
    z-index: 3;
}

.saveTheDate {
    position: absolute;
    top: 135px;
    left: 871px;
    z-index: 3;
    height: 450px;
    width: 350px;
    font-size: 8rem;
    line-height: 9.375rem;
    font-weight: 600;
    color: white;
    font-family: var(--font-sans);
}

.dateBadge {
    position: absolute;
    left: 525px;
    bottom: 0;
    z-index: 4;
    background: white;
    color: var(--color-blue);
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 3.75rem;
    font-weight: lighter;
    font-family: var(--font-handwriting);
}

.locationContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.locationImageWrapper {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    width: 610px;
    height: 340px;
}

.locationImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.locationInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-end;
    width: 610px;
    height: 340px;
}

.locationBadge {
    background-color: var(--color-terracotta);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 2.5rem;
    font-family: var(--font-handwriting);
}

.addressRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--foreground);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.actionBtn {
    background-color: var(--color-blue);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    width: 267px;
}

.actionBtnOutline {
    background-color: transparent;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    width: 267px;
}
